body{
	height: 100%;
}

.container{
	overflow: auto;
	list-style-type: none;
	margin: 0;
	padding: 0;
	border: solid green;
}

.box {
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: solid red;
}

nav .box{
	padding: 10px;
	width: 25%;
	text-align: center;
}

#Projects .box{
	width: 50%;
	border: solid red;
}

#Projects img{
	width: 100%;
}

#Contact .box{
	width: 100%;
}

#Contact img{
	width: 20%;
	display: block;
	margin: auto;
}

