body{
	height: 100%;
	font-size: 14px;
	background-color: white;
}

p{
	font-size: 4em;
}

.wrapper{
	width: 100%;
	margin: auto;
}

.container{
	overflow: auto;
	list-style-type: none;
	margin: 0;
	padding: 0;
	border: solid green;
}

.float{
	float:left;
}

.box {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: solid red;
}

.box img{
	width: 100%;
	display: block;
	margin: auto;
}

nav .box{
	padding: 10px;
	width: 25%;
	text-align: center;
}

#Home .box{
	padding: 10px;
}

#Home .box img{
	width: 50%;
	min-width: 100px;
	max-width: 200px;
}

#Projects .box{
	width: 50%;
}

#Resume{
	
}

#Contact .email{
	height: 300px;
}

#Contact .box{
	padding: 10px;
	width: 16.6666666666%;
}

#Contact img{
	width: 80%;
}

#Contact .box:nth-of-type(1)
{
	width: 100%;
    border:5px solid yellow;
}

