body{
	height: 100%;
}

nav ul{
	overflow: auto;
	list-style-type: none;
	margin: 0;
	padding: 0; 
}

nav li{
	padding: 10px;
	float: left;
	width: 25%;
	border: 2px solid red;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

section{
	border: solid green;
}

#Contact img{
	float: left;
	width: 25%;
}